.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: rgb(240, 237, 195);

    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

img {
    width: 500px;
    height: 500px;
    
}
button{
    color: rgb(169, 172, 16);
    background-color: white;
    border: 0;
    margin-top: 10px;
    padding: 10px;
}
h1{
    color: rgb(169, 172, 16);
}